body {
    background-color: #0f172a;
}

h1 {
    color: #3b82f6;
}

p {
    color: #3b82f6;
}

a {
    color: #22c55e;
}


#navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

#navBar ul li {
    float: left;
}

#navBar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navBar ul li a:hover {
    background-color: #111111;
}