h1 {
    font-family: "Comic Sans MS", cursive;
    text-align: center;
    color: red;
}
h2 {
    font-family: "Comic Sans MS", cursive;
    text-align: center;
    color: orange;
}
h3 {
    font-family: "Comic Sans MS", cursive;
    text-align: center;
    color: yellow;
}
h4 {
    font-family: "Comic Sans MS", cursive;
    text-align: center;
    color: green;
}
h5 {
    font-family: "Comic Sans MS", cursive;
    text-align: center;
    color: blue;
}
h6 {
    font-family: "Comic Sans MS", cursive;
    text-align: center;
    color: purple;
}